.nav{
  background-color: $greenColor;
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: $main-width;
    margin: 0 auto;
    padding: 0 10px;
    .logo img{
      height: 50px;
    }
    .navbar{
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      justify-content: space-between;
      height: 90px;
      a{
        display: inline-block;
        color: white;
      }
      .login a{
        background-color: darken($greenColor,5%);
        padding: 5px 10px 5px 20px;
      }
      .main a{
        background-color: $lightGreenColor;
        padding: 5px 20px;
        margin-right: 5px;
      }
    }
  }
}