.newsView{
  margin: 10px;
  margin-left: 20px;
  padding: 20px;
  border: solid 1px $gray;
  .header {
    margin-bottom: 10px;
    a{
      color: #0000EE;
      &:hover{
        text-decoration: underline;
      }
    }
    div{
      display: inline-block;
    }
  }
  .logo-img img{
    width: 100px;
  }
  .body{
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    p{
      text-align: left;
      margin: 5px 0;
    }
    img{
      margin: 10px auto;
      width: 80%;
    }
  }
}