.side-bar-left{
  border: solid $gray 1px;
  overflow: hidden;
  margin: 10px 0;
  .header,.footer{
    padding: 8px;
  }
  .header{
    color: $blue;
    border-bottom: solid $gray 1px;
    i,p{
      display: inline-block;
      color: $darkblue;
    }
  }
  .item{
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    padding: 20px 10px 20px 50px;
    font-weight: 600;
    justify-content: space-between;
    border-bottom: solid 1px $gray;
    &:last-child{
      border-bottom: none;
    }
    &:hover{
      background-color: $blue;
      color: white;
    }
  }
}